@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Shered Trips!</h1>
    <p class="lead">Here you can easy find outher people traveling across the country and ask to travel with them.</p><br />
    <p class="lead">If you are traveling somewhere add a post and see if someone wants to travel with you.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>