@model AddCarFormModel

<div class="container">

    <h2 class="text-center my-20">Add Car</h2>

    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Brand">Brand:</label>
                <input asp-for="Brand" class="form-control" placeholder="...">
                <span asp-validation-for="Brand" class="small text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Model">Model:</label>
                <input asp-for="Model" class="form-control" placeholder="...">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Year">Year:</label>
                <input asp-for="Year" class="form-control" placeholder="...">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ImgUrl">Image URL:</label>
                <input asp-for="ImgUrl" class="form-control" placeholder="...">
                <span asp-validation-for="ImgUrl" class="small text-danger"></span>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Add</button>
    </form>

</div>