@model List<TripListingViewModel>
    
    <div class="row">

        @foreach (var trip in Model)
        {
        <div class="col-6 mb-2">
            <a class="text-link" href="/WillDrive/Details?willDriveId=b5705a83-20a1-4c87-b957-1351da0c1569">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 col-xl-3 col-lg-4 mb-3 mb-md-0">
                                <div class="d-flex flex-row justify-content-center">
                                    <img src="https://s3.eu-central-1.amazonaws.com/tripinfy-production/Rect/4365ccc8-c1e2-49f0-a7fc-88d64e836937.jpg"
                                         alt="Снимка" class="rounded-circle profile-picture pp-small img-fluid">
                                </div>
                                <div class="d-flex flex-row justify-content-center">
                                    <span class="text-md-center">Динис</span>
                                </div>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="d-inline">
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>
                                        <i class="fa fa-star text-primary"></i>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-xl-9 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <i class="fa-solid fa-location-dot text-success md-18"></i>
                                        <span class="text-muted">From: </span>
                                        <span>@trip.FromCity</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="fa-solid fa-location-dot material-icons text-success md-18"></i>
                                        <span class="text-muted">To: </span>
                                        <span>@trip.ToCity</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons text-success md-18"></i>
                                        <span class="text-muted">Дата: </span>
                                        <span>20.04.2022 г.</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons text-success md-18"></i>
                                        <span class="text-muted">Час: </span>
                                        <span class="align-top">15:00 ч.</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons text-success md-18"></i>
                                        <span class="text-muted">Цена: </span>
                                        <span>15 лв.</span>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <i class="material-icons text-success md-18"></i>
                                        <span class="text-muted">Места: </span>
                                        <span>1 от 1</span>
                                    </div>
                                    <div class="col-12">
                                        <i class="material-icons text-success md-18"></i>
                                        <span class="text-muted">Автомобил: </span>
                                        <span>Volkswagen Golf Mk4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>