@model UserTripsViewModel

<h2 class="text-center my-4">All your trips as passenger</h2>

<div class="row">
    <partial name="_ListingTripsPartial" model="@Model.TripsAsPassenger" />
</div>

<h2 class="text-center my-4">All your trips as driver</h2>

<div class="row">
    <partial name="_ListingTripsPartial" model="@Model.TripsAsDriver" />
</div>

